.mainTitle {
	color:#fff;
	text-align:left;
}
.main {
	padding-top:50px;
	padding-bottom:50px;
	height:100vh;
}
.subTitle {
	color:#fff;
	margin-top:50px;
	padding-bottom:20px;
	font-size:22px;
	display:block;
}
.mainBg {
	background:#444;
}
.select {
	width:auto;
    display: inline-block;
    margin-left: 15px;
}