.mainTitle {
	color:#fff;
	text-align:left;
}
.main {
	padding-top:50px;
	padding-bottom:50px;
	height:100vh;
}
.mainTeam {
	padding-top:50px;
	padding-bottom:50px;
	height:auto;
}
.subTitle {
	color:#fff;
	margin-top:50px;
	padding-bottom:20px;
	font-size:22px;
	display:block;
}
.mainBg {
	background:#444;
}
.select {
	width:auto;
    display: inline-block;
    margin-left: 15px;
}
.teamLogo {
    max-width: 100px;
    display: inline-block;
    margin-top: -25px;
    margin-right: 20px;
}
.mainTitleWithLogo {
	color:#fff;
	text-align:left;
	display:inline-block;
}
.teamBanner {
    width: 100%;
    margin-top: 40px;
}
.teamDesc {
    background: #212529;
    border-bottom: 1px solid #333;
    padding: 30px 30px;
    color: #fff;
}
.teamDesc p {
	color:#bbb;
}
.teamStadium {
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}
.max40 {
	max-width:40%;
	width:100%;
	float:left;
}
.max60 {
	max-width:60%;
	width:100%;
	float:left;
}
.teamFanArt {
	width:100%;
	margin-bottom:10px;
	margin-top:10px;
}
.bgFix {
	float:left;
	width:100%;
	background: #212529;
}
.copyright {
	margin:0 auto;
	background: #212529;
	color:#bbb;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
@media (max-width: 767px) {
	.subTitle {
		margin-top:30px;
	}
	.main {
		height:auto;
		min-height:500px;
	}
	.teamLogo {
	    max-width: 50px;
	    margin-top: -15px;
	    margin-right: 10px;
	}
	.teamBanner {
		margin-top: 20px;
	}
	.max40, .max60 {
		width:100%;
		max-width:100%;
	}
}